/* MD breakpoint*/
@media (min-width: 768px) {

    /* CUSTOM WIDTHS */
    .w-md-100 {
        width: 100% !important;
    }
}

/* LG breakpoint */
@media (min-width: 992px) {

    /* CUSTOM WIDTHS */
    .w-lg-50 {
        width: 50% !important;
    }
}

.w-10 {
    width: 10% !important;
}


.bg-gray {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.l-11 {
    left: 11% !important;
}



body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgb(0, 83, 58);
}

.btn-toggle::before {
    line-height: 0;
    content: url('../../public/bx-chevron-right.svg');
    transition: transform .35s ease;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: rgb(0, 83, 58);
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.height-75{
    height: 750px !important;
}

.w-35{
    width: 35% !important;
}

.mw-35{
    max-width: 35% !important;
}

.w-10{
    width: 10% !important;
}
